apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: {{ cluster_name }}
  region: {{ region }}
  version: "{{ kubernetes_version }}"

# 자동 생성될 VPC 네트워크 대역
vpc:
  cidr: "10.0.0.0/16"
  clusterEndpoints:
    publicAccess: true
    privateAccess: true

# 워커 노드(EC2) 설정
managedNodeGroups:
  - name: web-nodes
    instanceType: t3.medium
    desiredCapacity: 2
    minSize: 1
    maxSize: 3
    volumeSize: 20
    privateNetworking: true # 노드 보안을 위해 프라이빗망에 배치